@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  overscroll-behavior: contain;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.aboutshort {
  width: 60%;
  line-break: auto;
  font-weight: 300;
  padding: 1rem 6rem 4rem 6rem;
}

@media (max-width: 900px) {
  .aboutshort {
    font-size: 1rem;
    width: 85%;
    line-break: auto;
    padding: 2rem;
    margin: 0rem 2rem;
  }
}

@media (max-width: 450px) {
  .aboutshort {
    width: 85%;
    padding: 2rem 0rem;
    margin: 0rem 2rem;
  }
}

#projects {
  z-index: 20;
}

#projects h1 {
  margin-left: 6rem;
  font-size: 3rem;
  background: -webkit-linear-gradient(#569aab, #f50057);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 100;
}

@media (max-width: 900px) {
  #projects h1 {
    margin-left: 3rem;
  }
}

#projects p {
  margin-top: .8rem;
  margin-left: 6rem;
  width: 80%;
  font-weight: 300;
  padding: 2rem 0rem;
}

@media (max-width: 900px) {
  #projects p {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  #projects p {
    width: 80%;
    padding: 2rem 0rem;
    margin: 0rem 2rem;
  }
}

#projects .projectContent {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#projects .projectContent .projectbg {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(209, 213, 219, 0.37);
  position: relative;
  width: 65%;
  height: 65vh;
  margin: 3rem auto;
  border-radius: 75px;
}

@media (max-width: 900px) {
  #projects .projectContent .projectbg {
    background: rgba(255, 255, 255, 0.1);
    width: 75%;
    height: 70vh;
    margin: 2rem auto;
    border-radius: 30px;
    position: relative;
  }
}

@media (max-width: 350px) {
  #projects .projectContent .projectbg {
    height: 85vh;
  }
}

@media (width: 375px) {
  #projects .projectContent .projectbg {
    height: 65vh;
  }
}

#projects .projectContent .projectbg .projectNumber {
  position: absolute;
  right: -3%;
  top: -6%;
}

#projects .projectContent .projectbg .projectNumber img {
  width: 7rem;
}

#projects .projectContent .projectbg .projectImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0rem;
}

#projects .projectContent .projectbg .projectImg img {
  width: 18rem;
  height: 22rem;
  border-radius: 45px;
}

@media (max-width: 900px) {
  #projects .projectContent .projectbg .projectImg img {
    border-radius: 25px;
    width: 10rem;
    height: 25vh;
  }
}

#projects .projectContent .projectbg .projectText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .projectContent .projectbg .projectText h2 {
  text-align: center;
  color: white;
  width: 60%;
  margin-top: .5rem;
}

#projects .projectContent .projectbg .projectText a {
  background: -webkit-linear-gradient(#569aab, #f50057);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1.2rem 0rem;
  border-bottom: 2px solid white;
  padding: .4rem 0rem;
}

#projects .projectContent .projectbg .projectSocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .projectContent .projectbg .projectSocialIcons img {
  width: 2rem;
  margin: .5rem 0rem;
}

#projects .projectContent .projectbg .projectSocialIcons img:hover {
  -webkit-transition: 0.25s ease-in;
  transition: 0.25s ease-in;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#projects .projectContent .projectbg .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media (max-width: 900px) {
  #projects .projectContent .projectbg .container {
    display: block;
  }
}

#projects .projectContent .projectbg .container .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 5rem;
}

@media (max-width: 900px) {
  #projects .projectContent .projectbg .container .row-1 {
    display: block;
  }
}

#projects .projectContent .projectbg .container .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

@media (max-width: 900px) {
  #projects .projectContent .projectbg .container .row-2 {
    display: block;
  }
}
/*# sourceMappingURL=projects.css.map */