.aboutshort {
  width: 60%;
  line-break: auto;
  padding: 4rem;
}

@media (max-width: 900px) {
  .aboutshort {
    width: 90%;
    line-break: auto;
    padding: 2rem;
    margin: 0rem 2.5rem;
  }
}

@media (max-width: 450px) {
  .aboutshort {
    width: 80%;
    padding: 2rem 0rem;
    margin: 0rem 2rem;
  }
}

#projects h1 {
  margin-left: 2rem;
  font-size: 3rem;
  background: -webkit-linear-gradient(120deg, #6c63ff, crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 100;
}

#projects p {
  margin-top: .8rem;
  margin-left: 2rem;
  width: 80%;
  padding: 2rem 0rem;
}

@media (max-width: 450px) {
  #projects p {
    width: 80%;
    padding: 2rem 0rem;
    margin: 0rem 2rem;
  }
}

#projects .projectContent {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#projects .projectContent .projectbg {
  background: rgba(42, 43, 56, 0.6);
  width: 75%;
  height: 70vh;
  margin: 0 auto;
  border-radius: 30px;
}

@media (max-width: 900px) {
  #projects .projectContent .projectbg {
    background: rgba(42, 43, 56, 0.6);
    width: 75%;
    height: 70vh;
    margin: 0 auto;
    border-radius: 30px;
    position: relative;
  }
}

@media (max-width: 350px) {
  #projects .projectContent .projectbg {
    height: 85vh;
  }
}

@media (width: 375px) {
  #projects .projectContent .projectbg {
    height: 65vh;
  }
}

#projects .projectContent .projectbg .projectNumber {
  position: absolute;
  right: -2%;
  top: -3.8%;
}

#projects .projectContent .projectbg .projectNumber img {
  width: 4.5rem;
}

#projects .projectContent .projectbg .projectImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0rem;
}

#projects .projectContent .projectbg .projectImg img {
  width: 15rem;
  border-radius: 30px;
}

#projects .projectContent .projectbg .projectText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .projectContent .projectbg .projectText h2 {
  text-align: center;
  color: white;
  width: 60%;
  margin-top: .5rem;
}

#projects .projectContent .projectbg .projectText a {
  background: -webkit-linear-gradient(120deg, #6c63ff, crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1.2rem 0rem;
  border-bottom: 2px solid white;
  padding: .4rem 0rem;
}

#projects .projectContent .projectbg .projectSocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects .projectContent .projectbg .projectSocialIcons img {
  width: 2.5rem;
  margin: .5rem 0rem;
}

#projects .projectContent .projectbg .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 900px) {
  #projects .projectContent .projectbg .container {
    display: block;
  }
}
/*# sourceMappingURL=projects.css.map */